
/* RESET *{margin: 0; padding:0} */

Body{background-color: azure;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: normal;

    font: normal 19px Arial, Helvetica, sans-serif;
    /*Summarize form of font from the above*/
    line-height: 1.6em;
    margin: 0%;
}

a{text-decoration: none;color: black;}
.container-1{
    width: 44%;
    margin: auto;
}

a:hover{color: red;}
a:active{color: skyblue;}
a:visited{color: grey;}

.box-1{
    background-color: cadetblue;
    color: white;
    border: 5px grey solid;
    border-width: 3px;

    padding: 5%;

    margin-top: 10%;
}

.box-1 h1{font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;
text-shadow: grey;}

.container-2{
    width: 44%;
    margin: auto;
}

.box-2 {background-color: cadetblue;
    color: white;
    border: 5px rgb(102, 255, 0) dotted;
    border-width: 3px;

    padding: 5%;

    margin-top: 10%;}

.categories
    {border: 5px grey solid;
    color: white;
    background-color: cadetblue;
    border-radius: 10px;
    width: 44%;
    margin: auto;
    margin-top: 5%;
    }

.categories h2{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-shadow: grey; text-align: center;}

.categories ul{padding: 50px;list-style: square;}

p{margin:5%}